@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  background: #0B0A10;
}


::-webkit-scrollbar {
 width: 8px;
 background: #0B0A10;
}

::-webkit-scrollbar-thumb{
  background: #FF6FCA;
  border-radius: 10px;
}

@media (min-width: 320px) {
  .ss {
      margin-top: 3px;
  }
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  overflow: clip;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;

}




